<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.mic_spoofing_test">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <uses-library android:name="android.test.runner" />

        <service
            android:name=".MicSpoofingFgsHelper"
            android:foregroundServiceType="microphone"
            android:exported="false" />

        <service
            android:name=".MicSpoofingSystemExemptedFgsHelper"
            android:foregroundServiceType="systemExempted"
            android:exported="false" />
    </application>

    <instrumentation
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="com.android.mic_spoofing_test"
        android:label="MicSpoofing Tests" />
</manifest>
